doctype xml
svg#svg2(
    xmlns="http://www.w3.org/2000/svg"
    xmlns:dc="http://purl.org/dc/elements/1.1/" 
    xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    width="1920"
    height="1080"
    viewbox="0 0 1920 1080"
    version="1.1"
    inkscape:version="0.91 r13725"
    shape-rendering="crispEdges"
    sodipodi:docname="index.svg"
  )

  title#title4216 svg.nb

  defs#defs4
    style(type="text/css") <![CDATA[ @import url("./index.css"); ]]>

  sodipodi:namedview#base(
      pagecolor="#000000"
      bordercolor="#ff0000"
      borderopacity="0.39215686"
      inkscape:pageopacity="1"
      inkscape:pageshadow="2"
      inkscape:zoom="0.50000001"
      inkscape:cx="1110.3115"
      inkscape:cy="747.70429"
      inkscape:document-units="px"
      inkscape:current-layer="layer1"
      showgrid="true"
      units="px"
      inkscape:window-width="1920"
      inkscape:window-height="1014"
      inkscape:window-x="0"
      inkscape:window-y="27"
      inkscape:window-maximized="1"
      guidehicolor="#f5ff00"
      guidehiopacity="0.49803922"
      guidecolor="#00ff16"
      guideopacity="0.49803922"
      borderlayer="true"
    )
    inkscape:grid#grid4212(
        type="xygrid"
        empcolor="#ff0010"
        empopacity="0.25098039"
        color="#ffe400"
        opacity="0.72941176"
        spacingx="1"
        spacingy="1"
        empspacing="5"
      )

  metadata#metadata7
    rdf:rdf
      cc:work(rdf:about="")
        dc:format image/svg+xml
        dc:type(rdf:resource="http://purl.org/dc/dcmitype/StillImage")
          dc:title svg.nb
          dc:date 2015-04-17
          dc:creator
            cc:agent
              dc:title Nicholas Bollweg
          dc:language en
          dc:subject
            rdf:bag
              rdf:li notebook
              rdf:li svg
          cc:license(rdf:resource="http://creativecommons.org/publicdomain/zero/1.0/")
      cc:license(rdf:about="http://creativecommons.org/publicdomain/zero/1.0/")
        cc:permits(rdf:resource="http://creativecommons.org/ns#Reproduction")
          cc:permits(rdf:resource="http://creativecommons.org/ns#Distribution")
            cc:permits(rdf:resource="http://creativecommons.org/ns#DerivativeWorks")

  g#layer1(
      inkscape:label="cells"
      inkscape:groupmode="layer"
      transform="translate(0,27.637839)"
    )

  script#reload(xlink:href="./reload.js")
  script#require(xlink:href="./lib/requirejs/require.js")
  script#index(xlink:href="./index.js")
